@using WebProject.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> localizer

<footer id="footer" class="footer">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="/Default/Index/" class="d-flex align-items-center">
                    <span class="sitename">RealRemoteLab</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>A108 Adam Street</p>
                    <p>New York, NY 535022</p>
                    <p class="mt-3"><strong>@localizer["Phone"]:</strong> <span>+1 5589 55488 55</span></p>
                    <p><strong>@localizer["Email"]:</strong> <span>info@realremotelab.com.tr</span></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>@localizer["QuickLinks"]</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="/Default/Index/">@localizer["Home"]</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="/About/Index/">@localizer["AboutUs"]</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="/Services/Index/">@localizer["Services"]</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="/Portfolio/Index/">@localizer["Infrastructure"]</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>@localizer["OurServices"]</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="/Pricing/Index/">@localizer["Products"]</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="/Testimonial/Index/">@localizer["Testimonials"]</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="/Faq/Index/">@localizer["FAQ"]</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="/Team/Index/">@localizer["TeamMembers"]</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12">
                <h4>@localizer["FollowUs"]</h4>
                <p>@localizer["FollowUsDescription"]</p>
                <div class="social-links d-flex">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href=""><i class="bi bi-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>@localizer["CreatedBy"]</span> <strong class="px-1 sitename">Zehra İsbir</strong> <span>@localizer["AllRightsReserved"]</span></p>
    </div>

</footer>
