@using WebProject.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> localizer

<!-- Faq 2 Section -->
<section id="faq-2" class="faq-2 section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@localizer["FaqTitle"]</h2>
        <p>@localizer["FaqDescription"]</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-10">

                <div class="faq-container">

                    <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>@localizer["FaqQ1"]</h3>
                        <div class="faq-content">
                            <p>@localizer["FaqA1"]</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>@localizer["FaqQ2"]</h3>
                        <div class="faq-content">
                            <p>@localizer["FaqA2"]</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>@localizer["FaqQ3"]</h3>
                        <div class="faq-content">
                            <p>@localizer["FaqA3"]</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>@localizer["FaqQ4"]</h3>
                        <div class="faq-content">
                            <p>@localizer["FaqA4"]</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>@localizer["FaqQ5"]</h3>
                        <div class="faq-content">
                            <p>@localizer["FaqA5"]</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="700">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>@localizer["FaqQ6"]</h3>
                        <div class="faq-content">
                            <p>@localizer["FaqA6"]</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="800">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>@localizer["FaqQ7"]</h3>
                        <div class="faq-content">
                            <p>@localizer["FaqA7"]</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="900">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>@localizer["FaqQ8"]</h3>
                        <div class="faq-content">
                            <p>@localizer["FaqA8"]</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                </div>

            </div>

        </div>

    </div>

</section><!-- /Faq 2 Section -->
