@using WebProject.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> localizer

<!-- Team Section -->
<section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@localizer["TeamTitle"]</h2>
        <p>@localizer["TeamSubtitle"]</p>
    </div>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/web/assets/img/person/Murat.jpeg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Prof. Dr. Murat YÜCEL</h4>
                        <span>@localizer["Role_Murat"]</span>
                        <div class="social">
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/murat-y%C3%BCcel-9b779975/"><i class="bi bi-linkedin"></i></a>
                            <a href="mailto:muyucel3@gmail.com"><i class="bi bi-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/web/assets/img/person/Cemal.png" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Dr. Cemal GEMCİ</h4>
                        <span>@localizer["Role_Cemal"]</span>
                        <div class="social">
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/dr-cemal-gemci-03679212/"><i class="bi bi-linkedin"></i></a>
                            <a href="mailto:cemal@cyberverse.com.tr"><i class="bi bi-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/web/assets/img/person/Ozkan.JPG" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Özcan AKÇEŞME</h4>
                        <span>@localizer["Role_Ozcan"]</span>
                        <div class="social">
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/%C3%B6zcan-ak%C3%A7e%C5%9Fme-47739691/"><i class="bi bi-linkedin"></i></a>
                            <a href="mailto:ozcanakcesme@gmail.com"><i class="bi bi-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/web/assets/img/person/Bengisu" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Atakan KURU</h4>
                        <span>@localizer["Role_Atakan"]</span>
                        <div class="social">
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href="mailto:atakan.kuru@cyberverse.com.tr"><i class="bi bi-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/web/assets/img/person/person-f-4.webp" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Dr. Zuhal ARSLAN AKYOL</h4>
                        <span>@localizer["Role_Zuhal"]</span>
                        <div class="social">
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/web/assets/img/person/person-f-4.webp" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Bengisu ÜNALAN</h4>
                        <span>@localizer["Role_Bengisu"]</span>
                        <div class="social">
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>     
                            <a href=""><i class="bi bi-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="~/web/assets/img/person/person-f-4.webp" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Zehra İSBİR</h4>
                        <span>@localizer["Role_Zehra"]</span>
                        <div class="social">
                            <a href="https://github.com/zehrasbr"><i class="bi bi-github"></i></a>
                            <a href="https://www.linkedin.com/in/zehraisbir/"><i class="bi bi-linkedin"></i></a>
                            <a href="mailto:zehra.isbir@cyberverse.com.tr"><i class="bi bi-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
