@using WebProject.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> localizer

@{
    ViewData["Title"] = "GetMore3";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/Services/Index/">@localizer["BreadcrumbServices"]</a></li>
                    <li class="current">@localizer["BreadcrumbDetails"]</li>
                </ol>
            </nav>
            <h1>@localizer["PageHeader"]</h1>
        </div>
    </div><!-- End Page Title -->

    <div class="container">
        <div class="row">

            <div class="col-lg-8">

                <!-- Blog Details Section -->
                <section id="blog-details" class="blog-details section">
                    <div class="container" data-aos="fade-up">

                        <article class="article">

                            <div class="hero-img" data-aos="zoom-in">
                                <img src="~/web/assets/img/cta/img24.png"
                                     alt="Featured blog image"
                                     class="img-fluid"
                                     loading="lazy"
                                     style="max-width: 70%; border-radius: 20px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);">
                            </div>

                            <div class="article-content" data-aos="fade-up" data-aos-delay="100">
                                <div class="content-header">
                                    <h1 class="title">@localizer["ContentTitle"]</h1>
                                </div>
                            </div>

                            <div class="content">
                                <p>@localizer["P1"]</p><br />
                                <p>@localizer["P2"]</p><br />
                                <p>@localizer["P3"]</p><br />
                                <p>@localizer["P4"]</p><br />
                                <p>@localizer["P5"]</p><br />
                                <p>@localizer["P6"]</p><br />
                                <p>@localizer["P7"]</p><br />
                                <p>@localizer["P8"]</p><br />
                                <p>@localizer["P9"]</p>
                            </div>
                        </article>

                    </div>
                </section><!-- /Blog Details Section -->

            </div>

        </div>
    </div>

</main>
